@import url('https://fonts.googleapis.com/css2?family=Archivo:display=swap');

body{
    font-family: 'Archivo', sans-serif;
}

p{
    color: gray;
}

.checklist{
    display: flex;
    align-items: center;
    gap: .7rem;
}

.partners{
    display: flex;
    align-items: center;
    gap: .7rem;
}