@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Archivo', sans-serif;
    margin: 0;
    /*background-color: rgb(246, 244, 242);*/
}

p{
    color: gray;
}

a{
    text-decoration: none;
}

.two-face-front{
    display: flex;
    background-color: rgb(246, 244, 242);
}

.main-content{
    margin: 10rem 0;
    /*width: 60%;*/
}

.main-content h1{
    font-size: 4rem;
    margin-bottom: 0;
}

.main-content p{
    width: 75%;
}

.checklist{
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-top: 0;
    margin-bottom: 0;
}

.btn{
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
    margin: 1rem;
}

.btn:hover{
    cursor: pointer;
}

.partners{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-container{
   padding: 2rem 10rem 0;
   justify-content: center;
}

.hero-img{
    width: 50%;
    height: 100vh;
}

.container{
    margin: 1rem 5rem;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    font-size: medium;
}

.nav-container-left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-container-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.welcome-container{
    background-color: rgb(241, 238, 233);
    padding: 3rem;
    margin: 2rem 0;
}

.search-container{
    align-items: center;
}

.search{
    border-radius: 5px;
    border: solid rgb(195, 194, 194);
    padding: 1rem 0.25rem 1rem 2.5rem;
    font-family: inherit;
    font-size: 1rem;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.welcome-container a{
    text-decoration: underline;
    color: gray;
}

.camps-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: 33% 33% 33%;
}

.camp-btn{
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
    margin: 1rem;
    font-weight: bold;
}

.camp-btn:hover{
    cursor: pointer;
}

.camp{
    border: solid;
    border-color: rgb(205, 204, 204);
    padding: 1rem;
    border-radius: 5px;
    width:min-content;
}

.camp img{
    border-radius: 5px;
}

.bottom-container{
    margin: 5rem 0;
}

.camp-content{
    display: grid;
    grid-template-columns: 25% 50%;
    justify-content: space-between;
    gap: 2rem;
}

.camp-map{
    border: solid;
    border-radius: 5px;
    border-color: rgb(205, 204, 204);
    padding: 3rem;
}

.camp-img{
    border: solid;
    border-radius: 5px;
    border-color: rgb(205, 204, 204);
    padding: 3rem;
}

.camp-img img{
    width: 100%;
}

.testimonials{
    border: solid;
    border-radius: 5px;
    border-color: rgb(205, 204, 204);
    padding: 3rem;
}